* {
    box-sizing: border-box;
  }

:root {
    --main-bg: silver;
    --nav-menu-bg: black;
}

body {
    font-family:'Courier New', Courier, monospace;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 3rem auto;
    color: white;
}

.body-background {
    width: 100vw; 
    height: 100vh; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;;
}

header, #nav-menu {
	position: relative;
}

#nav-menu a:hover {
    background-color: black; opacity: .5; ;
}

nav a {
    line-height: 3rem;
    padding: 0 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

nav a.active {
	background-color: white;
	color: gray;
}

.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: custom;
    text-shadow: 5px 4px black;
    text-align: center;
    padding-top: 0rem;
    font-size: 5rem;
}

@font-face {
    font-family: custom;
    src: url(./Showdex.otf);
}


.form {
    display: inline-block;
    justify-content: center;
    text-align: center;
    width: 40%;
    height: auto;
    padding: 20px;
    border: 1px solid white;
    border-radius: 2em;
    box-shadow: 10px 10px silver;
    background-color: white;
    opacity: .8;
    color: black;
    
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
 }

#box1 { 
    display: inline-block;
    width: auto;
    padding: 10px;
    text-align: center;;
    color: black;
}

.copyright {
    font-size: 10px;
}  

#firstName, #lastName, #email, #username, #password {
    width: 15rem;
    height: 2rem;
    border-radius: 5px;
    border-color: silver;
}